* {
    margin: 0;
    padding: 0;
}


/* body {
    background-color: lightblue
} */

.bg {
    background-image: url("../img/Login-page.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.out {
    margin: 120px;
}

.top {
    position: relative;
    height: 200px;
}

.top-top {
    border: 1px solid;
    border-radius: 15px;
    position: absolute;
    left: 1075px;
    top: -75px;
    background-color: white;
}

.top-bottom {
    position: absolute;
    left: 0;
    top: 30px;
    height: 100px;
}

#username {
    font-size: 20px;
    padding: 15px;
    left: 80px;
    position: absolute;
    height: 55px;
    width: 120px;
    text-align: center;
}

#userimg {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    left: 195px;
    top: 2px;
    background-color: rgb(56, 170, 219);
}

.top-img {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}

.resume {
    position: absolute;
    left: 135px;
    top: 0;
    font-size: 25px;
    width: 1000px;
    height: 200px;
}

#resume {
    height: 120px;
    width: 1100px;
    border: none;
    /* background-color: lightblue; */
    position: absolute;
    left: 390px;
    top: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

#dId {
    border: 1px solid;
    height: 120px;
    width: 1100px;
    border: none;
    /* background-color: lightblue; */
    position: absolute;
    left: 15px;
    top: -20px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

#dname {
    border: 1px solid;
    height: 120px;
    width: 1100px;
    border: none;
    /* background-color: lightblue; */
    position: absolute;
    left: 390px;
    top: -20px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

#hname {
    border: 1px solid;
    height: 120px;
    width: 1100px;
    border: none;
    /* background-color: lightblue; */
    position: absolute;
    left: 15px;
    top: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

#ascore {
    font-size: 25px;
}

.averge-score {
    font-size: 20px;
    color: white;
}

.score {
    margin-top: -30px;
    margin-left: 185px;
    margin-bottom: 10px;
    font-size: 25px;
}

#score {
    position: relative;
    border: 1px solid;
}

.major {
    height: 200px;
}

.major-text {
    font-size: 25px;
    color: white;
}

body div div div div div {
    width: 200px;
    height: 50px;
    border: 1px solid;
    float: left;
    margin: 10px 0px 10px 100px;
    background-color: white;
    text-align: center;
    line-height: 50px;
}

.btn {
    height: 100px;
    left: 0px;
    top: 0px;
}

.btn-left {
    /* border: 1px solid; */
    border-radius: 1000px;
    width: 200px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 338px;
    background-color: #31b820ef;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
}

.btn-right {
    /* border: 1px solid; */
    border-radius: 1000px;
    width: 200px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 233px;
    background-color: #31b820ef;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
}

#tabbar {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 150%);
    z-index: -1;
}

#logout {
    position: absolute;
    right: 50px;
    top: 25px;
    width: 50px;
    height: 50px;
    /* background-color: #31b820ef; */
    border-radius: 10000000px;
    /* border-color: #31b820ef; */
    background-image: url('../img/patient.png');
    background-size: cover;
}